.title-ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffcb74;
  font-family: var(--font-main);
  margin: 10rem 0 1rem 0;
  text-decoration: underline;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.267) 1.95px 1.95px 2.6px;
  align-content: center;
  justify-content: center;
}

.btn-ready {
  border: none;
  background: #2f2f2f;
  margin: auto;
  display: block;
}

.icon-ready {
  height: 2rem;
  width: 2rem;
  color: #ffcb74;
  border: 0.5px solid #ffcb74;
  border-radius: 50%;
  cursor: pointer;
  margin: auto;
  background: #2f2f2f;
}

.sutitle {
  color: #ffcb74;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background: none;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.txt-date {
  font-size: 0.9rem;
}

.container-ready {
  color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  list-style: none;
  font-size: 1.1rem;
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.267) 1.95px 1.95px 2.6px;
  background: #2f2f2f;
  width: max-content;
  list-style: none;
  padding: 1rem;
}

.list-ready {
  list-style: none;
  background: #2f2f2f;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
