.form-count {
    width: 100%;
    margin-left: 1rem;
}

.container-resum {
    max-height: 50vh;
    height: 40vh;
    width: 90%;
    margin: 0 1rem;
    overflow-y: scroll ;
    background: #242424 ;
}

.container-span {
    box-sizing: border-box;
    flex: 0 0 33.3333%;
    background: none;
    text-align: right;
    margin-right: 1rem;
    width: auto;
    overflow: hidden;
}

.total-count {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-top: 0.1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-wrap: anywhere;
}

.container-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.resum {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 2rem;
}

.label-count {
    color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    background: none;
    width: 50%;
    margin: 1rem 0 0 1rem;
}

.position-count {
    margin: 0.5rem 0 0 10rem;
}

.bg-none {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f6f6f61f;
    margin-top: 10rem;
    border: 0.1rem solid #FFCB74;
    border-radius: 1.75rem;
    width: auto;
}

.btn-resum {
    background: none;
    border: none;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.btn-center{
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0.5rem 3rem;
}

.btn-center:hover {
  background: #242424;
  transition: 0.3s;
  cursor: pointer;
  color: #FFCB74;
}

hr {
    border-style: solid;
    color: #FFCB74;
    margin-top: 0.5rem;
}

.bg-icon {
    border-radius: none;
    border: none;
}

#hidden {
    color: red;
    font-size: 1.1rem;
}
