    .container-total {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .container-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFCB74;
        font-family: var(--font-main);
        margin: 5rem 0 4rem 0;
        text-decoration: underline;
    }

    .cart {
        width: auto;
    }

    input[type="text"],
    input[type="number"] {
        background-color: transparent;
        border: 0.1rem solid #FFCB74;
        border-radius: 3.75rem;
        height: 2.5rem;
        width: 10rem;
        margin-left: 1.2rem;
        color: #f6f6f6;
        font-size: 1.2rem;
        padding-left: 1rem;
    }
