@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
.container-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin-left: 1.5rem;
}

.container-btn {
    margin-top: -3rem;
}

.btn-products,
.btn-center {
    background-color: #FFCB74;
    color: #2F2F2F;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin: 2rem 1rem;
    border: 0.1rem solid #FFCB74;
    border-radius: 3.75rem;
    padding: 1rem;
    width: 20vh;
    height: auto;
}

.btn-products:hover {
    transition: 1s;
    cursor: pointer;
    transform: scale(1.15);
}

.items-menu {
    border: 0.2rem solid #FFCB74;
    background-color: #f6f6f61f;
    border-radius: 1rem;
    padding-top: 0.5rem;
    margin: 0.6rem;
    width: 10rem;
}

.title-items {
    color: #f6f6f6;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 0.2rem;
    margin: 0.2rem;
    background: none;
}

.btn-add {
    margin-top: 0.5rem;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icons {
    height: 2rem;
    width: 2rem;
    color: #FFCB74;
    border: 0.5px solid #FFCB74;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 4rem;
}

.icons:hover {
    box-shadow: 0 5px 10px 0 #ffcc7485;
    transition: 0.3s;
    background: none;
}

.p-items {
    color: #FFCB74;
}
