:root {
    --bg-color: #1E2022;
    --bg--menu: #2F2F2F;
    --txt-menu: #F6F6F6;
    --principal-txt-color: #FFCB74;
    --font-main: 'Roboto', sans-serif;
}

.container-menu {
    overflow: hidden;
    background-color: var(--bg--menu);
    align-items: center;
    justify-items: center;
    padding: 3rem 0.5rem;
}

.container-logo {
    display: flex;
    flex-direction: column;
    justify-items: left;
    height: 50%;
    width: 50%;
}

.header-logo {
    float: left;
}

.header-menu {
    float: right;
}