* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: #1E2022;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
:root {
    --bg-color: #1E2022;
    --bg--menu: #2F2F2F;
    --txt-menu: #F6F6F6;
    --principal-txt-color: #FFCB74;
    --font-main: 'Roboto', sans-serif;
}

.container,
.container-links,
.container-img {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 5rem;
}

.title-home {
    color: var(--principal-txt-color);
    font-family: var(--font-main);
    -webkit-text-stroke: 0.1rem #0a0a0a;
    font-size: 4vw;
}

.title-home-b {
    color: var(--principal-txt-color);
    font-family: var(--font-main);
    -webkit-text-stroke: 0.1rem #0a0a0a;
    font-size: 2vw;
}

.links {
    width: 12.5rem;
    height: 3.125rem;
    background: #FFCB74;
    border: 0.5rem solid #1E2022;
    border-radius: 0.7rem;
    text-decoration: none;
    color: var(--bg-color);
    font-size: 1.25rem;
    cursor: pointer;
    margin: 1rem;
    font-weight: bold;
    font-style: var(--font-main);
}

.links:hover {
    background-color: var(--txt-menu);
    transition: 2.5s;
    transform: rotate(x 90°);
}