
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
.container,
.container-links {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 2.5rem;
}

.container-img {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 2rem;
}

.img-logo {
    height: 20rem;
    width: 20rem;
}

.title-home {
    color: var(--principal-txt-color);
    font-family: var(--font-main);
    -webkit-text-stroke: 0.1rem #0a0a0a;
    font-size: 4rem;
}

.title-home-b {
    color: var(--principal-txt-color);
    font-family: var(--font-main);
    -webkit-text-stroke: 0.1rem #0a0a0a;
    font-size: 2rem;
}

.links {
    width: 17rem;
    height: 3.5rem;
    background: #FFCB74;
    border: 0.5rem solid #1E2022;
    border-radius: 1.5rem;
    text-decoration: none;
    color: var(--bg-color);
    font-size: 2rem;
    cursor: pointer;
    margin: 1rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.links:hover {
    background-color: var(--txt-menu);
    transition: 0.3s;
    color: #FFCB74;
    -webkit-text-stroke: 0.1rem #0a0a0a;
}

.links>a{
  margin-top: 0.1rem;
}
