* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: #1E2022;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
:root {
    --bg-color: #1E2022;
    --bg--menu: #2F2F2F;
    --txt-menu: #F6F6F6;
    --principal-txt-color: #FFCB74;
    --font-main: 'Roboto', sans-serif;
}

.container,
.container-links {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 3rem;
}

.container-links {
    border: 0.5rem solid #2F2F2F;
    border-radius: 1rem;
}

.container-img {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 2rem;
}

.img-logo {
    height: 20rem;
    width: 20rem;
}

.title-home {
    color: var(--principal-txt-color);
    font-family: var(--font-main);
    -webkit-text-stroke: 0.1rem #0a0a0a;
    font-size: 4rem;
}

.title-home-b {
    color: var(--principal-txt-color);
    font-family: var(--font-main);
    -webkit-text-stroke: 0.1rem #0a0a0a;
    font-size: 2rem;
}

.links {
    width: 15.5rem;
    height: 4.125rem;
    background: #FFCB74;
    border: 0.5rem solid #1E2022;
    border-radius: 1.5rem;
    text-decoration: none;
    color: var(--bg-color);
    font-size: 2.25rem;
    cursor: pointer;
    margin: 1rem;
    font-weight: bold;
    align-items: center;
}

.links:hover {
    background-color: var(--txt-menu);
    transition: 2.5s;
    transform: rotate(x 90°);
}